name: Continues deploy
on: push

jobs:
  build_image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - name: Webpack build
        working-directory: ./web
        run: |
          npm install
          npm run build
          mv dist/* ../server/public
      - name: Copy to server
        uses: garygrossgarten/github-action-scp@release
        with:
          local: server
          remote: /home/huang825172/MirageReading
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          privateKey: ${{ secrets.PEM }}
      - name: Deploy on server
        uses: garygrossgarten/github-action-ssh@release
        with:
          command: cd /home/huang825172/MirageReading && ls
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          privateKey: ${{ secrets.PEM }}